<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>A better way</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; top: 0; bottom: 0; width: 70%; left: 30%}
</style>
</head>
<body>
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:430px" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
        <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
        <h3 class="w3-wide"><b><span class="w3-tag">Take a Better</span> Way!</b></h3>
    </div>
    <form class="w3-container" role="form" method='POST' action='next_route'>
      <p>
      <div class="form-group">          
      <label>Your location</label>
      <input class="w3-input" type="text" name="current_location" >
      </div>
      </p>
      <p>
      <div class="form-group">          
      <label>Destination</label>
      <input class="w3-input" type="text" name="target_location">
      </div>
      <p>
      </p>
      <button type="submit" value='NextButton'>Submit</button>          
      </p>
          <p>
            <div class="w3-container">
                <div class="w3-left-align"><p><b>From</b> {{cL}}</p></div>              
                <div class="w3-left-align"><p><b>To</b> {{tL}}</p></div> 
                <div class="w3-left-align"><p> </p></div> 
                <div class="w3-left-align"><p>------</p></div>                 
                <div class="w3-left-align"><p><span style="background-color:#99d6ff">The fastest route</p></div>
                <div class="w3-left-align"><p>{{f_distance}} mi, {{f_nlight}} streetlights</p></div>                              
                <div class="w3-left-align"><p>{{f_nCrime}} crimes and {{f_nAccid}} accidents in the last 5 years</p></div>                                              
                <div class="w3-left-align"><p>------</p></div>                 
                <div class="w3-left-align"><p><span style="background-color:#C92504"><b>A safer route</b></span></p></div>
                <div class="w3-left-align"><p>{{s_distance}} mi, {{s_nlight}} streetlights</p></div>              
                <div class="w3-left-align"><p>{{s_nCrime}} crimes and {{s_nAccid}} accidents in the last 5 years</p></div>                              
                <div class="w3-left-align"><p>{{incTime}} mins of additional travel time expected</p></div>                              
            </div>  
        </p>          
      
    </form>      
</nav> 


<div id="map"></div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiamFrZWpieWkiLCJhIjoiY2s2Y2VneTJjMTNxZTNtbjhuanNjeGkyciJ9.b0pkKSJC5sHWrwXENm46KA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: {{center}},
        zoom: 13
    });
    new mapboxgl.Marker().setLngLat({{route_start}}).addTo(map);    
    new mapboxgl.Marker().setLngLat({{route_end}}).addTo(map);        
    map.on('load', function() {  
            map.addSource('route_f', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': {{f_route_data}}
                    }
                }
            });
            map.addSource('route_s', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': {{s_route_data}}
                    }
                }
            });
            map.addLayer({
                'id': 'route_s',
                'type': 'line',
                'source': 'route_s',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#C92504',
                    'line-width': 6
                }
            });                                                

            map.addLayer({
                'id': 'route_f',
                'type': 'line',
                'source': 'route_f',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#3366ff',
                    'line-width': 4,
                    'line-opacity': 0.75
                }
            });
    });
</script>

</body>
</html>